.nav-button button{color:#fff;cursor:pointer;background:0 0;border:2px solid #fff;border-radius:20px;padding:6px 14px;transition:all .3s}.nav-button button:hover{color:#000;background:#ffc107}*{margin:0%;padding:0%}
